<% content_for(:title, "Users | within means") %>



<ul>
  <% @users.each do |user| %>
    <li><%= user.name %></li>
  <% end %>
</ul>

<%= link_to "New User", new_user_path, :class => "button radius secondary"  %>
