<% content_for(:title, "#{@user.name} | within means") %>


<h3>this month so far</h3>
<table>
  <thead>
    <tr>
      <th width="100">amount</th>
      <th width="400">note</th>
    </tr>
  </thead>
  <tbody>

      <span id="user_expenses">
        <% if @expenses != nil %>
          <%= render @expenses %>
        <% end %>
      </span>

    <tr>
      <td>TOTAL:</td>
      <% if @expenses != nil %>
        <td>
          <% amounts = [] %>
          <% @expenses.each do |expense| %>
            <% amounts << expense.amount %>
          <% end %>
          $<%= amounts.sum %>
        </td>
      <% else %>
        <td></td>
      <% end %>
    </tr>
  </tbody>
</table>
<br />

<%= link_to 'Add Expenses', new_user_expense_path(@user), class: 'button small radius secondary', id: 'new_expense_link', remote: true %>
